PORT=5000
MONGODB_URI=mongodb://localhost:27017/muzhappilangad-beach
# MONGODB_URI="mongodb+srv://juuu5250_db_user:ky9qDXIQIgW4YinS@cluster0.ggyazni.mongodb.net/beachverification"
JWT_SECRET=change-this-to-a-long-random-secret
JWT_EXPIRES_IN=7d
CLIENT_URL=https://beach-blush.vercel.app

# CLIENT_URL=http://localhost:5173 || http://localhost:5174
# CLIENT_URL=https://nimble-klepon-900ae7.netlify.app
CLOUDINARY_CLOUD_NAME=beach-verification-api
CLOUDINARY_API_KEY=144697621166239
CLOUDINARY_API_SECRET=Qm9NHcJSoJ--dCRZ2YL47sY73Vs
MASTER_ADMIN_USERNAME=masteradmin
MASTER_ADMIN_PASSWORD=MasterAdmin@123
MASTER_ADMIN_NAME=Master Admin
